<%- include('header') %>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card w-100" style="margin-top: 14px;">
                <div class="card-body">
                    <h5 class="card-title">How is VIT Chennai Campus?</h5>
                    <span class="badge badge-light">Academics</span>
                    <p class="card-text">Answered by: _shivansh_12</p>
                    <p>
                        <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                            aria-controls="collapseExample">
                            View Answer
                        </a>
                    </p>
                    <div class="collapse lapse1" id="collapseExample">
                        <div class="card card-body">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quam eaque eum ab officia dolorem tenetur corrupti! Dolores, dolor perferendis! Deserunt veniam totam in laboriosam mollitia facere repellat eum asperiores?
                            Laborum alias molestiae vero explicabo, quae enim nam perferendis blanditiis, pariatur nihil dignissimos earum, neque facere incidunt obcaecati quisquam reiciendis impedit fugiat quia iste voluptas? Ipsam eos alias voluptas fugiat!
                            Repellendus eius suscipit ipsa dolores accusantium, aliquam praesentium quia, saepe quibusdam tempore esse quaerat, cumque atque itaque hic veniam voluptatum error. Facere sapiente impedit doloremque? Voluptate, minus. Nam, veniam laborum?
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis eligendi beatae numquam reprehenderit, vel dolorum repudiandae aut, maiores, iste labore esse velit placeat hic itaque quidem nostrum cumque optio id!Dolor, consectetur perspiciatis eligendi laboriosam odit laborum in vitae recusandae quae amet quas minus magni veniam dignissimos sapiente commodi veritatis autem, et rem porro voluptates! Amet ratione repellat obcaecati perferendis?
                        </div>
                    </div>
                </div>
            </div>
            <div class="card w-100" style="margin-top: 14px;">
                <div class="card-body">
                    <h5 class="card-title">How is VIT Chennai Campus?</h5>
                    <span class="badge badge-light">Academics</span>
                    <p class="card-text">Answered by: _shivansh_12</p>
                    <p>
                        <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                            aria-controls="collapseExample">
                            View Answer
                        </a>
                    </p>
                    <div class="collapse lapse2" id="collapseExample">
                        <div class="card card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                            proident.
                        </div>
                    </div>
                </div>
            </div>
            <div class="card w-100" style="margin-top: 14px;">
                <div class="card-body">
                    <h5 class="card-title">How is VIT Chennai Campus?</h5>
                    <span class="badge badge-light">Academics</span>
                    <p class="card-text">Answered by: _shivansh_12</p>
                    <p>
                        <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                            aria-controls="collapseExample">
                            View Answer
                        </a>
                    </p>
                    <div class="collapse lapse3" id="collapseExample">
                        <div class="card card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                            proident.
                        </div>
                    </div>
                </div>
            </div>
            <div class="card w-100" style="margin-top: 14px;">
                <div class="card-body">
                    <h5 class="card-title">How is VIT Chennai Campus?</h5>
                    <span class="badge badge-light">Academics</span>
                    <p class="card-text">Answered by: _shivansh_12</p>
                    <p>
                        <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                            aria-controls="collapseExample">
                            View Answer
                        </a>
                    </p>
                    <div class="collapse lapse4" id="collapseExample">
                        <div class="card card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                            proident.
                        </div>
                    </div>
                </div>
            </div>
            <div class="card w-100" style="margin-top: 14px;">
                <div class="card-body">
                    <h5 class="card-title">How is VIT Chennai Campus?</h5>
                    <span class="badge badge-light">Academics</span>
                    <p class="card-text">Answered by: _shivansh_12</p>
                    <p>
                        <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                            aria-controls="collapseExample">
                            View Answer
                        </a>
                    </p>
                    <div class="collapse lapse5" id="collapseExample">
                        <div class="card card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid.
                            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                            proident.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% for(que of answers){ %>
    <%= que.question %>
    <% } %>




</div>
<%- include('footer') %>