<%- include('header') %>

<style>
    #customHead {
        background-color: rgba(128, 80, 250, 0.8);
        box-shadow: 0 2px 4px 0 black;
    }
</style>
<script>
     window.setInterval(function(){
        if(dark == 0){
        $('#customHead').css("background-color","rgba(128, 80, 250, 0.8)");
        $('#customHead').css("box-shadow","0 2px 4px 0 black");
    }
        else if(dark == 1){
        $('#customHead').css("background-color","rgb(25, 24, 32)");
        }
    },10);
</script>

<div class="container">
    <div class="questContainer row">
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title"><b>Book Fresher</b><i style="color: blue;" class="fa fa-book " aria-hidden="true"></i><i class="dropDowns fa fa-sort-desc" aria-hidden="true"></i></h5>
                    <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> vHelp </p>
                    <div style="box-shadow: 0 2px 4px solid;" class="image-main card-text"><br><br>
                        <div class="row">
                            <div class="col-md-9">
                                <iframe src="https://drive.google.com/embeddedfolderview?id=1yNNq5tWd3SbMWO_0DuL89kFTgrNeeaJK#grid" style="width:100%; height:600px; border:0;"></iframe>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title"><b>Books </b><i style="color: blue;" class="fa fa-book " aria-hidden="true"></i><i class="dropDowns fa fa-sort-desc" aria-hidden="true"></i></h5>
                    <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> vHelp </p>
                    <div style="box-shadow: 0 2px 4px solid;" class="image-main card-text"><br><br>
                        <div class="row">
                            <div class="col-md-9">
                                <iframe src="https://drive.google.com/embeddedfolderview?id=13177XtKWK98V07oINy607ygH9hbaNnMR#grid" style="width:100%; height:600px; border:0;"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer') %>