<%- include('header') %>

<style>
    #customHead {
        background-color: rgba(128, 80, 250, 0.8);
        box-shadow: 0 2px 4px 0 black;
    }
</style>
<script>
     window.setInterval(function(){
        if(dark == 0){
        $('#customHead').css("background-color","rgba(128, 80, 250, 0.8)");
        $('#customHead').css("box-shadow","0 2px 4px 0 black");
    }
        else if(dark == 1){
        $('#customHead').css("background-color","rgb(25, 24, 32)");
        }
    },10);
</script>

<div class="container">
    <div class="questContainer row">
        <div class="col-sm-12" style="margin-top: 10px;">
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="card-body">
                <h5 class="card-title"><b>Books </b><i style="color: blue;" class="fa fa-book " aria-hidden="true"></i><i class="dropDowns fa fa-bars" aria-hidden="true"></i></h5>
                <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> vHelp </p>
                <div style="box-shadow: 0 2px 4px solid;" class="image-main card-text"><br><br>
                    <div class="row">
                        <div class="col-md-9">
                            <table>
                            <tr><td>Concepts Of Modern Physics</td></tr>
                            <tr><td><iframe class="workshop" src="https://drive.google.com/file/d/1poW5DRFhu2xt-c3oIO5__HYZ9VWAXLJw/preview" width="340" height="180"></iframe></td></tr>

                            <tr><td>Fundamentals Of Electric Circuits</td></tr>
                            <tr><td><iframe class="workshop" src="https://drive.google.com/file/d/1Pv-h89RmpNJU8bHzvg9OQ5HQejavg5vB/preview" width="340" height="180"></iframe></td></tr>
                            
                            <tr><td>EVS</td></tr>
                            <tr><td><iframe class="workshop" src="https://drive.google.com/file/d/1R59p03yupv7g1l4lw14miHttfvpmtiZ5/preview" width="340" height="180"></iframe></td></tr>
                            
                            <tr><td>Evs - Tyler Miller</td></tr>
                            <tr><td><iframe class="workshop" src="https://drive.google.com/file/d/1fxre4vZwwVwCjqNSW2e9z5w54G9TUPAf/preview" width="340" height="180"></iframe></td></tr>
                            
                            <tr><td>BS Grewal Maths</td></tr>
                            <tr><td><iframe class="workshop" src="https://drive.google.com/file/d/19ydYAaGk_QNOx-D8mqoQTOKB4D12yH30/preview" width="340" height="180"></iframe></td></tr>
                            
                            <tr><td>Engineering Chemistry Jain and Jain</td></tr>
                            <tr><td><iframe class="workshop" src="https://drive.google.com/file/d/1b6xDLACxX2maTZTGXq7M8LU2oUXUuogG/preview" width="340" height="180"></iframe></td></tr>
                            
                            <tr><td>Modern Physics - Kenneth Krane</td></tr>
                            <tr><td><iframe class="workshop" src="https://drive.google.com/file/d/13N0WPQtoZYI-BYQVwstvAAdkUYNJsEyG/preview" width="340" height="180"></iframe></td></tr>
                            
                            <tr><td>Modern Physics - Serway/Moses/Moyer</td></tr>
                            <tr><td><iframe class="workshop" src="https://drive.google.com/file/d/1x5MBdwZYtFL4NHfLo95ZSuPe5316ldOo/preview" width="340" height="180"></iframe></td></tr>
                            
                            <tr><td>Thomas Calculus</td></tr>
                            <tr><td><iframe class="workshop" src="https://drive.google.com/file/d/115BDWfOvn2yKHOu9xfvUJNToquftKWeo/preview" width="340" height="180"></iframe></td></tr>
                            
                            <tr><td>The Complete Reference - Herbert Schilt</td></tr>
                            <tr><td><iframe class="workshop" src="https://drive.google.com/file/d/11vpu7_EfmRTL9ILJ83Ps-65A7h6YdTMM/preview" width="340" height="180"></iframe></td></tr>
                            
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer') %>