<%- include('header') %>

<style>
    #customHead {
        background-color: rgba(128, 80, 250, 0.8);
        box-shadow: 0 2px 4px 0 black;
    }
</style>
<script>
     window.setInterval(function(){
        if(dark == 0){
        $('#customHead').css("background-color","rgba(128, 80, 250, 0.8)");
        $('#customHead').css("box-shadow","0 2px 4px 0 black");
    }
        else if(dark == 1){
        $('#customHead').css("background-color","rgb(25, 24, 32)");
        }
    },10);
</script>

<div class="container">
    <div class="questContainer row">
        <div class="col-sm-12" style="margin-top: 10px;">
            
        
        
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title"><b>Fees calculator (Chennai)</b><i style="color: blue;" class="fa fa-inr"
                            aria-hidden="true"></i><i class="dropDowns fa fa-bars" aria-hidden="true"></i></h5>
                    <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> vHelp </p>
                    <div style="box-shadow: 0 2px 4px solid;" class="image-main card-text"><br><br>
                        <div class="row">
                            <div class="col-md-9">
                                <table class="fees">
                                    <tr>
                                        <th class="feesData">
                                            <div class="headgrp grp submitQuest">Group<p class="starImp">*</p>
                                            </div>
                                        </th>
                                        <th class="feesData">
                                            <div class="headcat cat submitQuest">Category<p class="starImp">*</p>
                                            </div>
                                        </th>
                                        <th class="feesData">
                                            <div class="headmess mess submitQuest">Mess</div>
                                        </th>
                                        <th class="feesData">
                                            <div class="headroom room submitQuest">Room</div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td class="feesData">
                                            <div data-type="grpA" isOn="0" class="fee che grp submitQuest">Group A</div>
                                            <div data-type="grpB" isOn="0" class="fee che grp submitQuest">Group B</div>
                                        </td>
                                        <td class="feesData">
                                            <div data-type="cat1" isOn="0" class="fee che cat submitQuest">1</div>
                                            <div data-type="cat2" isOn="0" class="fee che cat submitQuest">2</div>
                                            <div data-type="cat3" isOn="0" class="fee che cat submitQuest">3</div>
                                            <div data-type="cat4" isOn="0" class="fee che cat submitQuest">4</div>
                                            <div data-type="cat5" isOn="0" class="fee che cat submitQuest">5</div>
                                        </td>
                                        <td class="feesData">
                                            <div data-type="veg" isOn="0" class="fee che mess submitQuest">Veg</div>
                                            <div data-type="nonveg" isOn="0" class="fee che mess submitQuest">Non Veg
                                            </div>
                                            <div data-type="special" isOn="0" class="fee che mess submitQuest">Special
                                            </div>
                                            <div data-type="foodpark" isOn="0" class="fee che mess submitQuest">Food
                                                Park</div>
                                        </td>
                                        <td class="feesData">
                                            <div data-type="two" isOn="0" class="fee che room submitQuest">2 Bed AC
                                            </div>
                                            <div data-type="three" isOn="0" class="fee che room submitQuest">3 Bed AC
                                            </div>
                                            <div data-type="four" isOn="0" class="fee che room submitQuest">4 Bed AC
                                            </div>
                                            <div data-type="twonac" isOn="0" class="fee che room submitQuest">2 Bed
                                                non-AC</div>
                                            <div data-type="threenac" isOn="0" class="fee che room submitQuest">3 Bed
                                                non-AC</div>
                                            <div data-type="fournac" isOn="0" class="fee che room submitQuest">4 Bed
                                                non-AC</div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td colspan="4" class="feesData">
                                            <center>
                                                <div id="totalFee" class="sums fee submitQuest">TOTAL</div>
                                            </center>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title"><b>Fees calculator (Vellore) </b><i style="color: blue;" class="fa fa-inr"
                            aria-hidden="true"></i><i class="dropDowns fa fa-bars" aria-hidden="true"></i></h5>
                    <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> vHelp </p>
                    <div style="box-shadow: 0 2px 4px solid;" class="image-main card-text"><br><br>
                        <div class="row">
                            <div class="col-md-9">
                                <table class="fees">
                                    <tr>
                                        <th class="feesData">
                                            <div class="headgrp grp submitQuest">Group<p class="starImp">*</p>
                                            </div>
                                        </th>
                                        <th class="feesData">
                                            <div class="headcat cat submitQuest">Category<p class="starImp">*</p>
                                            </div>
                                        </th>
                                        <th class="feesData">
                                            <div class="headmess mess submitQuest">Mess</div>
                                        </th>
                                        <th class="feesData">
                                            <div class="headroom room submitQuest">Room</div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td class="feesData">
                                            <div data-type="vgrpA" isOn="0" class="fee vel grp submitQuest">Group A
                                            </div>
                                            <div data-type="vgrpB" isOn="0" class="fee vel grp submitQuest">Group B
                                            </div>
                                        </td>
                                        <td class="feesData">
                                            <div data-type="vcat1" isOn="0" class="fee vel cat submitQuest">1</div>
                                            <div data-type="vcat2" isOn="0" class="fee vel cat submitQuest">2</div>
                                            <div data-type="vcat3" isOn="0" class="fee vel cat submitQuest">3</div>
                                            <div data-type="vcat4" isOn="0" class="fee vel cat submitQuest">4</div>
                                            <div data-type="vcat5" isOn="0" class="fee vel cat submitQuest">5</div>
                                        </td>
                                        <td class="feesData">
                                            <div data-type="vveg" isOn="0" class="fee vel mess submitQuest">Veg</div>
                                            <div data-type="vnonveg" isOn="0" class="fee vel mess submitQuest">Non Veg
                                            </div>
                                            <div data-type="vspecial" isOn="0" class="fee vel mess submitQuest">Special
                                            </div>
                                        </td>
                                        <td class="feesData">
                                            <div data-type="vone" isOn="0" class="fee vel room submitQuest">1 Bed AC
                                            </div>
                                            <div data-type="vtwo" isOn="0" class="fee vel room submitQuest">2 Bed AC
                                            </div>
                                            <div data-type="vthree" isOn="0" class="fee vel room submitQuest">3 Bed AC
                                            </div>
                                            <div data-type="vfour" isOn="0" class="fee vel room submitQuest">4 Bed AC
                                            </div>
                                            <div data-type="vsix" isOn="0" class="fee vel room submitQuest">6 Bed AC
                                            </div>

                                            <div data-type="vonenac" isOn="0" class="fee vel room submitQuest">1 Bed
                                                non-AC</div>
                                            <div data-type="vtwonac" isOn="0" class="fee vel room submitQuest">2 Bed
                                                non-AC</div>
                                            <div data-type="vthreenac" isOn="0" class="fee vel room submitQuest">3 Bed
                                                non-AC</div>
                                            <div data-type="vfournac" isOn="0" class="fee vel room submitQuest">4 Bed
                                                non-AC</div>
                                            <div data-type="vsixnac" isOn="0" class="fee vel room submitQuest">6 Bed
                                                non-AC</div>

                                        </td>

                                    </tr>
                                    <tr>
                                        <td colspan="4" class="feesData">
                                            <center>
                                                <div id="vtotalFee" class="sums vel fee submitQuest">TOTAL</div>
                                            </center>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title"><b>Fees calculator (Bhopal) </b><i style="color: blue;" class="fa fa-inr"
                            aria-hidden="true"></i><i class="dropDowns fa fa-bars" aria-hidden="true"></i></h5>
                    <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> vHelp </p>
                    <div style="box-shadow: 0 2px 4px solid;" class="image-main card-text"><br><br>
                        <div class="row">
                            <div class="col-md-9">
                                <table class="fees">
                                    <tr>
                                        <th class="feesData">
                                            <div class="headgrp grp submitQuest">Group<p class="starImp">*</p>
                                            </div>
                                        </th>
                                        <th class="feesData">
                                            <div class="headcat cat submitQuest">Category<p class="starImp">*</p>
                                            </div>
                                        </th>
                                        <th class="feesData">
                                            <div class="headmess mess submitQuest">Mess</div>
                                        </th>
                                        <th class="feesData">
                                            <div class="headroom room submitQuest">Room</div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td class="feesData">
                                            <div data-type="bgrpA" isOn="0" class="fee bho grp submitQuest">Group A
                                            </div>
                                            <div data-type="bgrpB" isOn="0" class="fee bho grp submitQuest">Group B
                                            </div>
                                        </td>
                                        <td class="feesData">
                                            <div data-type="bcat1" isOn="0" class="fee bho cat submitQuest">1</div>
                                            <div data-type="bcat2" isOn="0" class="fee bho cat submitQuest">2</div>
                                            <div data-type="bcat3" isOn="0" class="fee bho cat submitQuest">3</div>
                                            <div data-type="bcat4" isOn="0" class="fee bho cat submitQuest">4</div>
                                            <div data-type="bcat5" isOn="0" class="fee bho cat submitQuest">5</div>
                                        </td>
                                        <td class="feesData">
                                            <div data-type="bveg" isOn="0" class="fee bho mess submitQuest">Veg</div>
                                            <div data-type="bnonveg" isOn="0" class="fee bho mess submitQuest">Non Veg
                                            </div>
                                            <div data-type="bspecial" isOn="0" class="fee bho mess submitQuest">Special
                                            </div>
                                        </td>
                                        <td class="feesData">
                                            <div data-type="btwo" isOn="0" class="fee bho room submitQuest">2 Bed AC
                                            </div>
                                            <div data-type="bthree" isOn="0" class="fee bho room submitQuest">3 Bed AC
                                            </div>
                                            <div data-type="bfour" isOn="0" class="fee bho room submitQuest">4 Bed AC
                                            </div>
                                            <div data-type="bsix" isOn="0" class="fee bho room submitQuest">6 Bed AC
                                            </div>
                                            <div data-type="btwonac" isOn="0" class="fee bho room submitQuest">2 Bed
                                                non-AC</div>
                                            <div data-type="bthreenac" isOn="0" class="fee bho room submitQuest">3 Bed
                                                non-AC</div>
                                            <div data-type="bfournac" isOn="0" class="fee bho room submitQuest">4 Bed
                                                non-AC</div>
                                            <div data-type="bsixnac" isOn="0" class="fee bho room submitQuest">6 Bed
                                                non-AC</div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td colspan="4" class="feesData">
                                            <center>
                                                <div id="btotalFee" class="sums fee che submitQuest">TOTAL</div>
                                            </center>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title"><b>Fees calculator (Amravati) </b><i style="color: blue;" class="fa fa-inr"
                            aria-hidden="true"></i><i class="dropDowns fa fa-bars" aria-hidden="true"></i></h5>
                    <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> vHelp </p>
                    <div style="box-shadow: 0 2px 4px solid;" class="image-main card-text"><br><br>
                        <div class="row">
                            <div class="col-md-9">
                                <table class="fees">
                                    <tr>
                                        <th class="feesData">
                                            <div class="headgrp grp submitQuest">Group<p class="starImp">*</p>
                                            </div>
                                        </th>
                                        <th class="feesData">
                                            <div class="headcat cat submitQuest">Category<p class="starImp">*</p>
                                            </div>
                                        </th>
                                        <th class="feesData">
                                            <div class="headmess mess submitQuest">Mess</div>
                                        </th>
                                        <th class="feesData">
                                            <div class="headroom room submitQuest">Room</div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td class="feesData">
                                            <div data-type="agrpA" isOn="0" class="fee amr grp submitQuest">Group A
                                            </div>
                                            <div data-type="agrpB" isOn="0" class="fee amr grp submitQuest">Group B
                                            </div>
                                        </td>
                                        <td class="feesData">
                                            <div data-type="acat1" isOn="0" class="fee amr cat submitQuest">1</div>
                                            <div data-type="acat2" isOn="0" class="fee amr cat submitQuest">2</div>
                                            <div data-type="acat3" isOn="0" class="fee amr cat submitQuest">3</div>
                                            <div data-type="acat4" isOn="0" class="fee amr cat submitQuest">4</div>
                                            <div data-type="acat5" isOn="0" class="fee amr cat submitQuest">5</div>
                                        </td>
                                        <td class="feesData">
                                            <div data-type="aveg" isOn="0" class="fee amr mess submitQuest">Veg</div>
                                            <div data-type="anonveg" isOn="0" class="fee amr mess submitQuest">Non Veg
                                            </div>
                                            <div data-type="aspecial" isOn="0" class="fee amr mess submitQuest">Special
                                            </div>
                                        </td>
                                        <td class="feesData">
                                            <div data-type="atwo" isOn="0" class="fee amr room submitQuest">2 Bed AC
                                            </div>
                                            <div data-type="afour" isOn="0" class="fee amr room submitQuest">4 Bed AC
                                            </div>
                                            <div data-type="atwonac" isOn="0" class="fee amr room submitQuest">2 Bed
                                                non-AC</div>
                                            <div data-type="afournac" isOn="0" class="fee amr room submitQuest">4 Bed
                                                non-AC</div>
                                            <div data-type="a2baptac" isOn="0" class="fee amr room submitQuest">2B AC
                                                Apt. </div>
                                            <div data-type="a4baptac" isOn="0" class="fee amr room submitQuest">4B AC
                                                Apt.</div>
                                            <div data-type="a2baptnac" isOn="0" class="fee amr room submitQuest">2B
                                                non-AC Apt.</div>
                                            <div data-type="a4baptnac" isOn="0" class="fee amr room submitQuest">4B
                                                non-AC Apt.</div>
                                    </tr>

                                    </tr>
                                    <tr>
                                        <td colspan="4" class="feesData">
                                            <center>
                                                <div id="atotalFee" class="sums fee che submitQuest">TOTAL</div>
                                            </center>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer') %>