<!-- Footer -->

<div class="container">
    <div id="disclaimer"class="row">
        <div class="col-12 offset-md-3 col-sm-6">
            <div class="text-center">
                <b>⚠️Disclaimer:</b>
            </div>
        </div>
        <div class="col-12 offset-md-3 col-sm-6">
            <div class="text-center">
                This website is not related to any of the official VIT website or management in any context.<br>
                This is an open forum and
                the information available on this website is contributed by community.
            </div>
        </div>
    </div>
</div>
</div>


<footer class="page-footer font-small unique-color-dark pt-4">
    <div>
        <img id="abstract1" src="/abstract.png">
    </div>
    <div id="footContent" class="container">

        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <h6 class="mb-1">Made with ❤️ by Vitians for Vitians</h5><br>
                    <a class="social" href="https://www.instagram.com/vhelp55/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li><br>
            <li class="list-inline-item">
                <a href="#!" class="btn btn-outline-white btn-rounded">
                    <p class="Rate">Follow Us on Instagram</p>
                </a>
            </li><br>
            <li class="list-inline-item">
                © 2020 Copyright:
                <a href="#"> vHelp.com</a>
            </li>
        </ul>
    </div>
    <div class="footer-copyright text-center py-3">
    </div>
</footer>

</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

<!-- static javascript -->
<script src="/header.js"></script>

<!-- type writer effect -->
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
<script src="/typed.js"></script>
<!-- Google Analytics -->
<script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
</html>