<!doctype html>
<html lang="en">

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174263518-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-174263518-1');
</script>

    <!-- End Google Analytics -->
    <meta name="Description"
        content="VIT's only discussion forum for everone (including freshers and aspirants) to ask and answer questions!!" keywords="vit,chennai,vitians,vitian,vellore,bhopal,amaravati,vhelp,vit vhelp,iit,nit,colleges,indian colleges,india,south,manipal,srm,tamil nadu,ioe,institue,eminence,best,technology,btech,mba,tech,cse,ai,ml,mechanical,civil,ecm,electrical,electronics">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This is a common open discussion forum for students of vit chennai, vit bhopal, vit vellore and vit amravati. Students can dissuss about academics, plavements, activities, clubs and teams in colleges. Students can feature there own content here like youtube channels, their projects that they want to share with their friends. Freshers can put their queries realted to admissions/ things required before joing college.">
    <meta name="robots" content="index, academics, placements, activities, infrastructure" />
    
    
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- font awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>vHelp Freshers Blog</title>

    <!-- css from public folder -->
    <link href="/header.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    
    <link rel="shortcut icon" href="/croppedtitle.png" />
</head>

<body>
    <nav id="customHead" class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/">
               
                <span class="brand">
                    <img id="navLogo"src="/vhelpbanner.png">
                    </span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="navList nav-item active">
                        <a class="nav-link" href="/" style="font-family: 'Righteous', cursive; color: white; "><i
                                class="fa fa-home"></i><span class="navTitles"> Home</span> <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="navList nav-item active">
                        <a class="nav-link" href="/" style="font-family: 'Righteous', cursive; color: white;"><i
                                class="fa fa-link"></i> <span class="navTitles"> Fresher's Blog</span> <span
                                class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </div>


    </nav>
    


    <style>
        #ssb-container {
            position: fixed;
            top: 20%;
            z-index: 8;
            right: 0;
        }
    </style>

    <div class="side" id="ssb-container">
        <li class="list-group-item  d-flex justify-content-between align-items-center">
            <a href="/explore/academics"><i class="fa fa-book" aria-hidden="true"></i></a>
            <!-- <span class="badge badge-primary badge-pill">14</span> -->
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="/explore/placement"><i class="fa fa-coffee" aria-hidden="true"></i></a>
            <!-- <span class="badge badge-primary badge-pill">2</span> -->
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="/explore/infrastructure"><i class="fa fa-building" aria-hidden="true"></i></a>
            <!-- <span class="badge badge-primary badge-pill">1</span> -->
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="/explore/clubs_teams"><i class="fa fa-cube" aria-hidden="true"></i></a>
            <!-- <span class="badge badge-primary badge-pill">1</span> -->
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="/explore/activities"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            <!-- <span class="badge badge-primary badge-pill">1</span> -->
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="/explore/general" <i class="fa fa-folder" aria-hidden="true"></i></a>
            <!-- <span class="badge badge-primary badge-pill">1</span> -->
        </li>
        <li id="darkMode" style="background-color: rgb(25,24,32);" class="list-group-item d-flex justify-content-between align-items-center">
            <a href="#" <i class="fa fa-moon-o" aria-hidden="true"></i></a>
            <!-- <span class="badge badge-primary badge-pill">1</span> -->
        </li>
    </ul>
    </div>
