<%- include('header') %>

<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<script src="typed.js"></script>
<!-- static javascript -->


<div id="overlayId">
    <div id="overlay"><img id="loadLogo" src="/vhelpbanner.png"></div>
</div>
<div class="container-fluid">
    <style>
        .form-control {
            border-radius: 0rem;
            font-size: 18px;
            font-weight: 700;
            /* border: 0px; */
            -webkit-box-shadow: 2px 2px 2px 2px rgb(255, 255, 255);
            -moz-box-shadow: 2px 2px 2px 2px rgb(255, 255, 255);
            box-shadow: 2px 2px 2px 2px rgb(255, 255, 255);
            height: 200px;
        }
    </style>
    <div class="bannerStyle row" style="margin-top: -85px;">
        <div class="col-sm-12">
            <div class="row fullscreen d-flex align-items-center justify-content-center"
                style="height: 702px;  overflow-y: hidden;">
                <div class="banner-content text-center" style="max-height: 500px;">
                    <img id="logo"src="/logo.png">
                    <p class="tagline" style="font-size: 20px;">
                        <span id="typewriter_text"></span>
                        <span style="font-size: 30px;">|</span>
                        </span>
                    </p>
                    <script src="typing.js"></script>
                    <br><br><br>
                    <div onclick="scrollToContent()" class="arrow-down"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="mainContent" class="container" style="margin-top: 10px;">
    <div class="questContainer row" style="margin-top: -45px;">
        <div class="col-md-12">
            <% if(foo==1){ %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>yay!!</strong> your query is being posted 🙌 .....
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } %>
            <% if(foo==0){ %>
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <strong>Please provide your EMAIL id to be notified as soon as someone answers your query... don't worry we'll not spam you</strong>🤘
                .....
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } %>
        </div>

        <style>
            .form-control-1 {
                height: 35px;
            }
        </style>

        <div class="col-md-9">
            <!--  question posting forum -->
            <form method="POST" action="/">
                <div class="form-group" style="margin-top: 10px;">
                    <h5 style="margin-left: 4px;">Queries Section</h5>
                    <div class="row">
                    <div class="col-md-12">
                            <input id="mailArea" class="form-control form-control-1" style="margin-top: 4px;";" type="input" name="query_email" placeholder="mail@mail.com">
                        </div>
                        <div class="col-md-12">
                            <textarea class="form-control" id="formContent" rows="8"
                                placeholder="What's on your Mind!! Ask away your doubt!!"
                                name="question_area"></textarea>
                        </div>
                        
                    </div>

                    <div class="row" style="margin-left: 10px">
                        <p id="colShow"><img alt="collapse-icon" src="collapse.webp" style="width: 20px; height: 20px;">
                        </p>
                    </div>
                    <div class="row" style="margin-left: 10px;">
                        <div class="questTags col-6 col-md-4">
                            <input class="form-check-input" type="checkbox" name="radio_acad" id="radio_acad">
                            <label class="form-check-label">
                                Admission/ Counselling
                            </label>
                        </div>
                        <div class="questTags col-6 col-md-4">
                            <input class="form-check-input" type="checkbox" name="radio_place">
                            <label class="form-check-label">
                                Placement
                            </label>
                        </div>
                        <div class="questTags col-6 col-md-4">
                            <input class="form-check-input" type="checkbox" name="radio_infra">
                            <label class="form-check-label">
                                Infrastructure
                            </label>
                        </div>

                        <div class="questTags col-6 col-md-4">
                            <input class="form-check-input" type="checkbox" name="radio_club">
                            <label class="form-check-label">
                                Clubs/Teams
                            </label>
                        </div>
                        <div class="questTags col-6 col-md-4">
                            <input class="form-check-input" type="checkbox" name="radio_acti">
                            <label class="form-check-label">
                                Activities
                            </label>
                        </div>
                        <div class="questTags col-6 col-md-4">
                            <input class="form-check-input" type="checkbox" name="radio_gen">
                            <label class="form-check-label">
                                General FAQ's
                            </label>
                        </div>
                    </div>

                    <button type="submit" id="postQuest" class=" btn btn-light float-right">Post Question</button>
                </div>
        </div>
        </form>

        <div class="col-md-3">
            <ul class="list-group">
                <li  id="askedQuest" style="background-color: rgb(128, 80, 250);margin-bottom: -10px;cursor: default;"
                    class="list-group-item  d-flex justify-content-between align-items-center">
                    <p><b>Asked Questions!</b></p>
                    <!-- <span class="badge badge-primary badge-pill">14</span> -->
                </li>
                <li class="list-group-item  d-flex justify-content-between align-items-center">
                    <a alt="link-to-academics-questions" href="/explore/academics"><i class="fa fa-book" aria-hidden="true"></i>
                        Admission/ Counselling</a>
                    <!-- <span class="badge badge-primary badge-pill">14</span> -->
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a alt="link-to-placements-questions" href="/explore/placement"><i class="fa fa-coffee"
                            aria-hidden="true"></i> Placements</a>
                    <!-- <span class="badge badge-primary badge-pill">2</span> -->
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a alt="link-to-infrastructure" href="/explore/infrastructure"><i class="fa fa-building"
                            aria-hidden="true"></i> Infrastructure</a>
                    <!-- <span class="badge badge-primary badge-pill">1</span> -->
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a alt="link-to-clubsteams-questions" href="/explore/clubs_teams"><i class="fa fa-cube"
                            aria-hidden="true"></i> Clubs/Teams</a>
                    <!-- <span class="badge badge-primary badge-pill">1</span> -->
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a alt="link-to-activities-related-questions" href="/explore/activities"><i class="fa fa-pencil-square-o"
                            aria-hidden="true"></i> Activities</a>
                    <!-- <span class="badge badge-primary badge-pill">1</span> -->
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a alt="link-to-general-questions" href="/explore/general" <i class="fa fa-folder" aria-hidden="true"></i>
                        General FAQ's</a>
                    <!-- <span class="badge badge-primary badge-pill">1</span> -->
                </li>
            </ul>
        </div>

        <!-- question posting forum ended -->
    </div>

</div>

<div class="container">
    <div class="questContainer row d-flex justify-content-center">
        <div class="newBanner col-md-4">
            <h6>vHelp</h6><a href="https://www.instagram.com/vhelp55/" target="_blank">
            <img src="/logo.png" class="workshop hackclub img-thumbnail" alt="workshop"> </a>
        </div>
            <div class="newBanner col-md-4">
                <h6>Life at VIT Chennai- Dwij Seth</h6>
                <iframe class="workshop video-main"src="https://www.youtube.com/embed/J4J0ocDLVVE" frameborder="0" scrolling="no" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="newBanner col-md-4">
                <h6>VIT unofficial Fresher's Orientation</h6>
                <iframe class="workshop video-main" src="https://www.youtube.com/embed/g4i6nc1kWrY" frameborder="0" scrolling="no" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            </div>
    </div>

<div class="container">
    <div class="questContainer row">
        
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title"><b>Books </b><i style="color: blue;" class="fa fa-book " aria-hidden="true"></i><i class="dropDowns fa fa-sort-desc" aria-hidden="true"></i></h5>
                    <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> vHelp </p>
                    <div style="box-shadow: 0 2px 4px solid;" class="image-main card-text"><br><br>
                        <div class="row">
                            <div class="col-md-9">
                                <table>
                                <tr><td>Concepts Of Modern Physics</td></tr>
                                <tr><td><iframe class="workshop" src="https://drive.google.com/file/d/1poW5DRFhu2xt-c3oIO5__HYZ9VWAXLJw/preview" width="340" height="180"></iframe></td></tr>

                                <tr><td>Fundamentals Of Electric Circuits</td></tr>
                                <tr><td><iframe class="workshop" src="https://drive.google.com/file/d/1Pv-h89RmpNJU8bHzvg9OQ5HQejavg5vB/preview" width="340" height="180"></iframe></td></tr>
                                
                                <tr><td>EVS</td></tr>
                                <tr><td><iframe class="workshop" src="https://drive.google.com/file/d/1R59p03yupv7g1l4lw14miHttfvpmtiZ5/preview" width="340" height="180"></iframe></td></tr>
                                
                                <tr><td>Evs - Tyler Miller</td></tr>
                                <tr><td><iframe class="workshop" src="https://drive.google.com/file/d/1fxre4vZwwVwCjqNSW2e9z5w54G9TUPAf/preview" width="340" height="180"></iframe></td></tr>
                                
                                <tr><td>BS Grewal Maths</td></tr>
                                <tr><td><iframe class="workshop" src="https://drive.google.com/file/d/19ydYAaGk_QNOx-D8mqoQTOKB4D12yH30/preview" width="340" height="180"></iframe></td></tr>
                                
                                <tr><td>Engineering Chemistry Jain and Jain</td></tr>
                                <tr><td><iframe class="workshop" src="https://drive.google.com/file/d/1b6xDLACxX2maTZTGXq7M8LU2oUXUuogG/preview" width="340" height="180"></iframe></td></tr>
                                
                                <tr><td>Modern Physics - Kenneth Krane</td></tr>
                                <tr><td><iframe class="workshop" src="https://drive.google.com/file/d/13N0WPQtoZYI-BYQVwstvAAdkUYNJsEyG/preview" width="340" height="180"></iframe></td></tr>
                                
                                <tr><td>Modern Physics - Serway/Moses/Moyer</td></tr>
                                <tr><td><iframe class="workshop" src="https://drive.google.com/file/d/1x5MBdwZYtFL4NHfLo95ZSuPe5316ldOo/preview" width="340" height="180"></iframe></td></tr>
                                
                                <tr><td>Thomas Calculus</td></tr>
                                <tr><td><iframe class="workshop" src="https://drive.google.com/file/d/115BDWfOvn2yKHOu9xfvUJNToquftKWeo/preview" width="340" height="180"></iframe></td></tr>
                                
                            <tr><td>The Complete Reference - Herbert Schilt</td></tr>
                            <tr><td><iframe class="workshop" src="https://drive.google.com/file/d/11vpu7_EfmRTL9ILJ83Ps-65A7h6YdTMM/preview" width="340" height="180"></iframe></td></tr>
                            
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="card w-100" >
                <div class="card-body" style="height: auto;">
                    <h5 class="card-title"><b>VIT Chennai Campus Gallery </b><i style="color: green;"class="fa fa-table" aria-hidden="true"></i><i class="dropDowns fa fa-sort-desc"
                            aria-hidden="true"></i></h5>
                    <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> vHelp</p>
                    <div class="pa-carousel-widget" style="width:100%; height:480px; display:none;"
                    data-link="https://photos.app.goo.gl/LRA7gMByJo9vVDhJA"
                    data-title="VIT"
                    data-description="67 new photos added to shared album">
                    <object data="https://lh3.googleusercontent.com/HkoMZaQ0XCnal0fuic4BQ9g_5gyB3AWsSsicVBgTetl7hCozdmR1k4oa8uUeozdMi6x6cyG6DQGanzKYXws7vcy1ivjJ8ybGza04cL3ALo9Z-9hpf2QIOwa-Nm9IQc5rVlpcJ7ao_A=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/QKTVSB-oWQD3eKHBrRA3RfdDdZWFf9Eqy331GAD-wIS_UIvVegEPDmBVF2_zCV49Ta4qT5andtbKhBmBx-zFOWK20vJRaNunI3jnqF_CNM7Q6EsrzcuV_Gx6A-gmom8M8yj11YUy1w=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/MrD2lUt0iv_v4Uu37ylZkimWa_hc745lzdN4QQP68tfaQS8ziW463GbFmUNtZIDeF9q6bTbHXwb1JRZaISOxmKB8O9hNJU1tT1SaVswb8Xcc7_S3nRRLI2KtjNyXeFWOlB5RqOG02w=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/7p0MuOaOv-A1f7AmyRrLl2aHaCsaTkGnaJlfwlzhwqk7Ui8qPc0ix9WMjq2nuFDlTG0TQpssKW8D7LAZwPejU3j83cR-OqbbzuOi623f02kyzZacT6YSJi1DqlmDfGjQEsZC-Ge1Pg=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/bmLlUoDcO1PZ7y4IOQQQYrwUJuj9ICHSW94tNEvUOSAXvpbS4M-2NgEflgSxKhFFzW8hr5KPiLefUK_hi23En8sGj1DLcvYtvRTB2tHmbNXFf1YTLnZhjEqbo2n8kzfsdKY9fMSvKg=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/FdaE5jnc4PIPqeT44_daT13Gr78IRkhqNSxDQd1jtX5wmKYCosqEDGydXs774hve6GZQBKJTNrhZswIxdMc7tWpDElAPLizKjd68crWJ4raP4vW0rJKf69jSjEuJZKhBaYE1TA38vA=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/65yUpZqQ4wjXBQUpG3sFCkIT4nfFgJ7qbbC6UkIpcjWJKWh0SRwJLkceTCrdPbx5YVeZM1EDTaK8DWdl1SOwdjqfQJdtCDSRpTwuX8dGKrY6C18IJJXHpR5MZEds6IVgSXgG--Z_7g=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/jZ20UUWvfSCPlh_owCRFN2rljxdVVqHDRmO6unVFGOj-fv66rrCWqRKRLQZCrfBNB0aAVjhwvb45KNKZVV9SGKfPyTR048X6A_aCzCJsBI-1m7INIi3e1cnZDch1OyjYncnVYbRygw=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/9419Tu4tvemHHFnFyWjUjRXeuX864H0gI3XfAw_mUeCvXaqPwIbn1orldAHpVtmWL4YidYx9weu89MIj6AQcA3ykEnZ2YG_xprYdPuOPGP_x7bV-CWIVgfVd844q3CxzDTCm9RziuA=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/ggYE67Ob0GANe5yRRLBhrdA5eVJJNNYnutRug4z0cDjRa_W9BrQfvA1G60ZJm6FcSEiEtpS580UAifUgiKIycVkYJP5s78qwCwIqMeOrWPT4pmh63jP_2m60zfgBSbKAElR_CiyR0w=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/pWwL0lJDEXdxPPx_cpecAccEi2R2LYYYGVlCpBUIalILgRHbsj0PEtPct7DnePydoRAqvFGBfFLOZwZBJcAPi4uHrPGy3llBOpsgJqi2rpNVmwkvQIFfGGl9sFHTmxTvDqgUud-6PA=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/4SHfksciNcPDmc3ESNO7GDYAQoMPPOkhuSys-XZ3AFl3lLXqlup4orDKJ30OA22jHCFu-lQUF4ZowrEK6kL3giLI1GraxvKYMETOJjBTkz3UlOWVkdZqnP-0GFzYQ5wMBJR4iV6Vyw=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/JKIYWDhvMwbOFRQLE8I5Og5mmta7C3QPjexu_MO5Js7QsZxhsqQ-u-mn-rpinY5foMkB-doc1jad_PWeWU2QsCMC4ODmL-8WWTEKrXjflELeEiJoKu8IcAxdi5wuuFW8nq9-_68IVA=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/VIHG5vKCv498JnUXztnk63L0XX4zk-fbiFX9niOPiHY0zX9pCUNEyyhL9yoEj_wJ6dEV3jXV7cpcddGeQ3H6_nEJAhmzPVJzFYG_DZQRqCQqXTvoiQkjr2B9roaKaSF39HnBeimsgg=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/b4_YGe00tsU5YpxgetiFoPAwca51Ezq7H2LN-L717ZNjHK-vbDfkUmgTuAwdMywX56u43p8T0PPkJu9KDSLwTv1fVCYV5DFTyXlDfB6yuD09PCzrF0Lfq0_u1xYT_yPo7R9c7AOnjA=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/IYv-cCWRdLD6gggFKDbG2CFzAz9rasfodlPOlVLPu3KhlUP4cbGQyiC3nc48VbklEMJnvuv7j3mJy6RhZBbrhngfK21Xv7XL5PyZWTcWjc-AXYpsI2se4ODd9nQ5Bg1S8DFH-95phw=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/BulJrsONvA9x3UWbj0lpj0vFPaZf94oyLdFeqQthSZCV21C64CSr0m7upWZD41Yg1NOEJ6FHQVop2t-PxdxRTWAy0Yb125BZtyBvacrokbOJ_MQU9wsMIBJK2fkZ2Ed2uUK6qItyKA=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/YxxbU3ubmP8DPmMjFVKZkDfZ871EIaQLOkyzbeFP6qdWloaFvGb7Z0o_uobHDzIIpSHLuvalmo53ovKAtASHMOFnkfQtxNscyrss2niPFn3iRmwlm7Z1A33eCA243SXde4iFIA2ZLw=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/-2sXXwMdkre_Gw_mlY9Ky3U9wdJIvB2kVJX68KguaImB6NjnDAVQB9aPuaX9M7DDIug8CxKNqz7V8PDwH_WF1egqix6v60YKkfbj8emuqMgxIWCpx_eTz_swcqLQOxLpzkmD3vyz3Q=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/o0Sss2NhLUcrPXMD2Ym_mGsXayjm1zv0HXBsM4VKqzwmxxKoiKzQw6fBIukNQ1j-IXaDO_chk4Vab28CZUxWUoZfmLOvd2zYWsdhx_GRonYk58OpZNZGA3aeiWv5jvSbYcY5R_wuVA=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/hkvK2oJzuzmUvB6DnSgVX91aX2EJm_Tm0ForJ6m5bFWLGoYpJBpLuKSvUy7aBj6_qIrh1fCCcopOQT0Caws1yj3dxLKE3E_B9rgc7lHLvvkSDCj6d9qeCizk4P4dB6-nwi-1V5pHXg=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/S8VXjmrqgh9YlS6rePxCJi_F2z45hyDC7KYtqhNzctuBGZbScaqasAXsOKPe1BVbzmfV_OKw20c04_EJ-0Jhr6xTIoILjy7a7v-xJRL99emoenXTDFfqxQ6kfRTOC971Ty93YpkfsA=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/wvI75x1rPLIhDdc8YgY8uHimAzFRREY8I_qHkE8TwiaImhpg3WdPYwYuOrmV-S9dDjClch7YL4Xyjikg3CQ4ljkSLZw9DuOlpDMI3b0FR0vTUHtJQeX2HKkVjqZvIoIZWR3dm_qFaw=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/vHbO_BoBMoL62TFUS71gLwUTesD1Tdp7O91jJlVKa1ocy3MP_x8stExS6vUHncKQSgnBR1hPVrSSzJG5fMNo-IRHUr1H3qdOrWUYkTaePB_cCIvxxYBC1g-1QB8FjqaQXj1OivGh4w=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/Xk5tNjI9YumEiimm5RX7VW5RqiLZks_8LrlK2Tb2I8HOTKuZr1Mjc8xhOn_gT53KlWmObFrD_Qf2RanegRl418QF1tMIICDYIrm6TEhOV1lbbNzMRftUlaMojZxhDC56H1i7lZ6JXg=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/P-j5sJc_dn1zv9Gqa-zFOqI-vHs3N7wTvfICeZZiseHp03iGFu6DA49DC-vyXqx7RRRtqP1CsWZhp4ewplwz7KJ6ZsZZFk20k3bDi__XxSXmf9k-lcjD2w4lHszd5wbfrM2svkCYiA=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/_PRH786R1_Vwio5Brx5W6HAGHB2wGHbmH7N7_11PQitop5ZuXnk8t3_H2_icYSLy1CygMQebzwC1luyqTUJbAuUP0jvz98t_YLhu49wr_0odX8pCUUKgPNTJYEdgneFI92sC6sQbQw=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/wVfy4g0Qi3gT8bTBEv2JQ__HyzFPAe4R0VapJvNNakNNYwG0GrmiAoEmOQ3uINLC85TpmMqgLyDWs2SyWXw7ZVl0wTEyd0VQmaFMku5rh9P_2GugD9XgLi_S-YiSLT6_P6cPX8jf1A=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/t-QW8vwZWDf_As9iJODAij5n4yQUlNlgxkPGAH0DZ6n9cvpZKYgLOjUhwv9WVJWiJMfm_VmyMA3dqSA0J3Zgs2claoJOAMmq_bAmqzbXWGaTtKzfZrr9U49-6YbHcdse0yUqMBR5mg=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/CuchFCNfgnuJVmk37yLwmQUQjBolUVSCZWSIrF7U2RGCbkpKP-wbuUO47XzkR_iLV4Ul5RkPlEXYEu9GWTeIPsCb0Ny4NJdBsgvTTACNXkgdRbFRyAa-CQow_iVEQimLEWAh5ekpqQ=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/MnzFrt4q6EfpwaZXFN7o6zpiZezXDOI9nmaWpeDnLPvxY8jnZ2XF5r7s7bx3oQGvRl1jEXREQY8w09xCcEeqSSwKV1pNW5HXEZReX8zdsnCfE1sg1mVY9-hEU48_l8zF7oz-m-er_A=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/j6ZVAl60pXGEatT_oXmXl0JLjbTF10RUCplJQ8EYFEkHIIilZFKwA0rUW0KNG_-6wtAJFTbRjiOiF4HfPKw2zaaGWY40Ev8cFr0T8enwp2dzXwJR9qXRXhEzDfbQLAYefD9eyq9IJQ=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/yFCmbnvsNwmzBuoAePA60rjLu2UOcfKYuRjsuy4ntZqh3Vc9bZZpcOkTe2CbtXBkRn3pz7x5NgFXaJ4CFHUn8D_MucYSYzTdRaXrntPOFikdykuNU9dRf-_0zQkAV3iiJ8N4RTST5w=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/SimoYvwA3Hq3mY7otdkJwEuvwv7lqSZZj-kklHQRJBUYYlYHSv_26I712YUo7DvQpdsnviJem_LNW2WWFoYwzK4QIdvmTtCXDG6iFa57Q-2zEJscnMggkL-m_9RFsGFDdPwbGrdNnQ=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/iJSyeWXQ8WY1RRx96U6zco323i8xqj9qqKKbjiwqMDAURTypHuJq0uanu0Hu3nYPRsKz0O_sepJ9B_Il6YGccfnmLl5kWrLv_1X2iQ2FCy9fr-0RcDxwDucj03tw_MjhymlkC4CLXA=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/HLgYZjcx5i7f7KWKYW_uGdKLL2PWEnCZC1pI4qdQSA39BV_XCAeqLirH0hI51Azou-oBGJYXKqsJxlzKHAo8gUsoqHauKGzw_JlljeuhaiCdiV0sKonJ4uG5mrk9JEzAkD_RfVW7ug=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/pcDkerXJAXhoyBR4ov1xMiaG9Dq5y0E_aZPfb0V8f-0sbDDbGzLsuyKMhV0ziYkUtWCfsWagrzaOJFGsngKCOGJXM8FWtaYydZm_AJ6oUnJrKK83zrL0zbjaJZgPTttRCXlh0dBBTg=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/97AlnqR0XVFiY09Ra5gBQbGY0QlheapmSKpGxFrC6DVZHdItCCgvmAlZJK3yvqeXg8pFZnOYE5nkV5JjfDfdaaimAH2gu1fSTACRZ9zC0CR54hWmw4hhfjpmTWuGNIO0_SQh1ix18A=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/lWkNYi-i0P8QMQldPGcBvtiPlNk7cuRgOQnBKaMGpd7fr79CnFGIfbHxUsccT1swxkCqQvGKLDHkNk3G5ZFtrpr3aUidSy8MQRvY33LZ6g_8iVAbm3QzkmCV92snDekiXZrXJYg0TA=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/CiGrSCE0OKaofKgTbr6djj9n68_s14OIWk_1pHvUeRUPMCC68qnEBzyX7-HOF-fTBufhIvjcygSTbb1gPsQLWE_SZM7VhzSpz6hv4QzpVlH5q-3pJNpIPB0syKynjwtGZ1wj7Dvq1g=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/IQpH7rOFC1eT3e9nuvVCbdCPYVjLZoI9Z1JoBOISMkAHmvar4aQRCXueu23OWmfF-y3-DDR6iltBcBAsynlHNVzV5W9DGgsZl4cGWwT6zJMm6N4ruGTJDzUcYy94IXEf_qgQzNlO3g=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/LWhHkxpbAZ_sOuOUVlL5OkduEI7BLieZ1GwnrTYtmG5IyrNAlCH9gwo31PkJ51YCivNoV0Z1wUrCivJ0I0-7fPz9koMjsWSbXcgNfugfwggZV5foMNZpMOaUdSonDTkzISPdhaUNyw=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/JE52xJJWobYnx6K3rLBO4ho3J4m9cSLlVh8bw55mXDmZGI6ksB7gvAUJB1Qq2B6MVBGQFyZpZe-BUlm0nApOYpOyPKH7hZihNeO-wqCk1K4-Ii16YWXjmA36ok_yzaamf7_fPkwKug=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/qMrGm-UiBTUBPJ4GKuv3MApJTQAULP3LinOckQ1oB1iO4nT_cWhMvmfZUldSfRXUVN6yxL13blVfIpF6JEjVp1wO1pEuyQi8h7QTaaUadOWop8xAkb3llqXxVQmHMFp8_IPKlVwcOw=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/xziAUKOZkPm6mDb8WoLUAk29IuN-_0zIi1fvnCyHs7GKKmO0ZuYJvqFVZQYjycEHtrsfJQLsg7izTD44Ge_BajyaEBlAHyov0ssLDtpgPTEmO-VpzPndPS5xM26PP-5DKpiZHAqsKw=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/UPZKYOYDWBHvCdeQz8hQHxz_Swk1rJtcNd7zQ97pdVP8aeYiX-vu4x4g66JSd7iQUalvyANlJE3CSMfUo6038pxT86av4IFxZ4zQTPO7uhGgFYAswh8s8epSuqQ2xugIh2vi863Slg=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/tv2IL938aNf6leLNM9R2IrH3tvjHzUN6ZSUfebTJIDYiE0VZx_wypwTgW_Ecz6nxFRIcw_KHnwXP5rfNMHKCA8evA_VGzGKT9SnVrXMZZn84G2005nwOhx8B5ekwr6xQyyAzU0krCQ=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/y5ypr25iedXFXs61BeSKRaVAYk82-6SShsJ1Ij_zZKqYexeXaQoiIba6eAHMQaUGPqww3Q21_JZIJ8dByGkBupa8_yPlVdfFwgf7vbJAYuk3m9ZwCkQABguTzyqerIGOJKhzu0gAcA=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/v0RKnovMdjrl-8MQZ-RBTMfbWsHtzBXstfHqWBm_oQtg-i9XYh6DWbLYq5UTiGb798pXHjzTSub8O4ZSX2rcRrgkWpyLwiBwt2GUo4VwQxAP9BhQa4CSYTABmYSm0mfJLWVZj6BPMw=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/PY3B6WDkig8dX3XdrAy97GrP0_tlHzby7OlKpe2MYz2xK59FdIA21scaPg6s1d2uaxlvTykPKoAshBoc2lUchfp5lerKa3qLGyozFmTuAl5McCnnma1tB3zWwW7yNs_UmmnRNz0atw=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/F3PjjdwYv1u2C0n5kMtWoK47vo0EPwI-mNbhgMNHmnH2QXMDl3FqTC0Y0G1n9wI_fztKukcl6mKm-49eVaj6TN6TC3hk8MS2Tw_Ot5zrz6FSKWhrYtLf7k8P3iJ6Rjd_w8HMs-0fLQ=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/IyzwLSbSylDQKd3E-lN1zvhkk07176d9A1qn9JElmqUi8j4o_NFuWS81WCM4MhgE54L3gm50QuqJb8CtL8EmbPvIZW150Vudbt4lxPQDPAnXmzfnJkPoFYVkDsSXhrFvyVjvEZS2Ig=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/jqbmZmRveSqvocd2ngOjuUXkjAFs6cJrxwoX8wkpHma-AW_stGkAXAsHfSqzqBTFoOngIdYd74ZUDtkXcc-bZMxmi4nN4ymrMy1KvYl-khsI-b2QnCYXzxQHpCXBauXwZ2uLlCdBkA=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/mHwEJ84LN6QtkvmrhfCvq7QQ3dNDozcX2LvdwqFhuF44rlQE9C0PGYBxH2oN8yo9vJFzZxAyTBy0A5BZo-zilZdDwGdyaqXGH9sESUGUxWKt7CBELHzRBnUKSjLfg1clIJjDh0M3Gg=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/o1jVW5vsrBO169u6IaEINa_1judpLaUrzEyr3exMsyxBg_SkAylD0QHSUEnR_4n84_I-M8ptoGVO2LeCo8UHFDX6f9x0oUCBh0OUbRVKlE9qYgsvEnf0f2S0Bg_18LF2peh-1MWw2A=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/idkAaZ-yYtiU1CLmG0qgh4jHmey33OfoknYseTN49xndCf10NsnUIJr8LpLrp74nFtGaJdoFj_Kjj686jXlGJfkUMOWldsen0sqcmebNX2Zit7NZwQmxCOmOOJ0752DVyciJqsplZA=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/SU6Bj0yQr9XF1ZfpLbU4gdA8iH1Qwlkomgwq_vv_i-WDvHOPUWKZk41vBG_K7UYIVw4fDW5_7q3KE-ZbsjThwBhBco5F0IStZ_gQ4E9gpe5EURg-um-kzCxwNcJLxYZRRJmdnUmb_g=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/vcOzB0KjlF2IHqJiuTc4BFNY2thDbr4yPZFFXU-ATCmz7qVR2gmD0E6AT8uPgwhoufjSI5w0G9F24YIr90fYZV52OXBze2YapscfpWRIlnROUf_pegIYYgzAErDshIeYa_7MUolxXA=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/Sl-ToA7I0RE0gKdmkCmuUp76FzPb-GAFXE2Lju7nX3LS-Gs1CKZVeBACNVbrpDMSOjjVBwyo1RDEjHnFiI3AfH1qVa8MZEYq48Q7Nahqh-0ZyH6B25eNS4w_2EtYYoz04tUqmXUktQ=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/cMx845BzxuRJFPybQjydkebU1A90N4AEuqyu0S4YVGVErpRKbEXJv-rxDzeX1jlBQbw3cRsCQPKQbfYL0uU5M6FYEScaoKAHh0SIOkY4P2FFx4_A1y3bEVbnFsPAw5xYB_q-mLuRNQ=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/tEdTxSzilS8ebC_tcCAgvutX3pwbmsNli0Mw9oPl9CAUENCGUU0QVVKLi8C45gursKsPmmkt8TDlJlaXzFHSHhrGBWxdy6uWoXqXHr4t70dZSNvb5kDGyARsQpU-3w_t0vqzEgyxdQ=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/M5iZUUePTf0s9dmIhtYs6-_5JxkacmVDaY-whYvxHf4NkjnknkDfmGHs80xf3BVCSZMTRafSYu8MMdESS0e97mzRuIeWma7UQS4WXy9Sqrz_4v7D1EtLVlq2XpWsNBomcZkfwq9QxQ=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/4krdATPKyatiSFjv20vI7uPRKGKWm69_IjFRR2pX8AV86I4-7M7LDD2gSYhoM4ONi63oc3XEiunzE7c14SXr-o1nZvRnexYucN6cwygeaH0ZdJPPsg55snVW7XzaIx0AdxEzqDMMVA=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/gL0-bJ5fe_0syF6BLUqpaZ2sUtINvugL4de8JbSS1Vbou1sMmmPSQKKzOX_XjGBNj256WYo4zUN0st244qjEz2lRfKSyRmGHGNUJOMNX_5wqSYPqaZ4SpSFwUyLAgDHD6WaqkacQ0A=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/_nA8MwtIZOX5BFpNXy1IaYd2na2vZNTWFGy-ps5_5C3JIyS11Xiwd_a2vkL1rvDgSb4emJmVZe4LSDTIWOXfsAxM-Q97Z0TBu-25hIa9csYYchrBkfvsRkDAaKYjdXDUu20fbhsLqA=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/bv6tB0tc2xfoCaDMpFik9urGrBPO4yE32i3tTahMkYcCA18sS1EReJTaMzExU-nyahDhdIrqpwq4NDczDcDnAeJtLpkx1PtWqMERNvLrkYuqe3CQ8HYOdD9TddvG24CNI_85Cc_b3g=w1920-h1080"></object>
                    <object data="https://lh3.googleusercontent.com/W52W9YF1QVkInGrx6y6avexFoTazdrBxfKUXKV90hHdoDu_FYtQAVL1ctsORVNiyzCUAYfuv0VkB2VFiGc9N7gzcTuAPqOeR9cN6j69eLQpuSV8r14p8_xrgmw8cymvYi0_GvhLS_g=w1920-h1080"></object>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title"><b>Tentative Branch-Rank List </b><i style="color: green;"class="fa fa-table" aria-hidden="true"></i><i class="dropDowns fa fa-sort-desc"
                            aria-hidden="true"></i></h5>
                    <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> Pratyush Motha</p>
                    <div class="card-text">
                        <table class="tables">
                            <tr><th>Rank Range</th><th>Campus</th><th>Branch</th><th>Category</th></tr>
                        <tr><td>3k-4k</td><td>Vellore</td><td>Nearly All branches</td><td>Cat 1</td></tr>
                        <tr><td>8k-10k</td><td>Chennai</td><td>Nearly All branches</td><td>Cat 1</td></tr>
                        <tr><td>10k-20k</td><td>Vellore</td><td>CSE</td><td>Cat 3 and greater</td></tr>
                        <tr><td>10k-20k</td><td>Vellore</td><td>branches except CSE</td><td>Cat 2 and greater</td></tr>
                        <tr><td>10k-20k</td><td>Chennai</td><td>ECE/ECM</td><td>Cat 1(High chances)</td></tr>
                        <tr><td>10k-20k</td><td>Chennai</td><td>Nearly All branches except CSE core</td><td>Cat 2(High chances)</td></tr>
                        <tr><td>10k-20k</td><td>Chennai</td><td>all branches except CSE core and some specializations</td><td>Cat 2(High chances)</td></tr>
                        <tr><td>20k-25k</td><td>Chennai</td><td>CSE specializations</td><td>Cat 3,4,5(High Chances)</td></tr>
                        <tr><td>20k-25k</td><td>Chennai</td><td>ECE/ECM</td><td>Cat 1 (low chances), Cat 2,3(High Chances)</td></tr>
                        <tr><td>20k-25k</td><td>Chennai</td><td>CSE specializations</td><td>Cat 3 (low chances), Cat 4,5(High Chances)</td></tr>
                        <tr><td>25k-35k</td><td>Vellore</td><td>Mech/EEE</td><td>Cat 1</td></tr>
                        <tr><td>35k-45k</td><td>Chennai</td><td>Mech/EEE</td><td>Cat 1</td></tr>
                        </table><br><br>
                        <h6 style="color: grey;">This list is completely based on previous year and not official data from VIT</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title"><b>Life at VIT Chennai - Video </b><i style="color: green;"class="fa fa-video-camera" aria-hidden="true"></i><i class="dropDowns fa fa-sort-desc"
                            aria-hidden="true"></i></h5>
                    <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> Dwij Seth </p>
                    <div style="box-shadow: 0 2px 4px solid;"class="image-main card-text"><br><br>
                        <div class="row">
                            <div class="col-md-9">
                                <iframe class="video-main"src="https://www.youtube.com/embed/J4J0ocDLVVE" frameborder="0" scrolling="no" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title"><b>Unofficial Fresher's Orientation - Video </b><i style="color: green;"class="fa fa-video-camera" aria-hidden="true"></i><i class="dropDowns fa fa-sort-desc"
                            aria-hidden="true"></i></h5>
                    <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> Dwij Seth </p>
                    <div style="box-shadow: 0 2px 4px solid;"class="image-main card-text"><br><br>
                        <div class="row">
                            <div class="col-md-9">
                                <iframe class="video-main" src="https://www.youtube.com/embed/g4i6nc1kWrY" frameborder="0" scrolling="no" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title"><b>Fees calculator (Chennai)</b><i style="color: blue;"class="fa fa-inr" aria-hidden="true"></i><i class="dropDowns fa fa-sort-desc"
                            aria-hidden="true"></i></h5>
                    <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> vHelp </p>
                    <div style="box-shadow: 0 2px 4px solid;"class="image-main card-text"><br><br>
                        <div class="row">
                            <div class="col-md-9">
                                <table class="fees">
                                    <tr><th class="feesData">
                                            <div class="headgrp grp submitQuest">Group<p class="starImp">*</p></div></th>
                                        <th class="feesData">
                                            <div class="headcat cat submitQuest">Category<p class="starImp">*</p></div></th>
                                        <th class="feesData">
                                            <div class="headmess mess submitQuest">Mess</div></th>
                                        <th class="feesData">
                                            <div class="headroom room submitQuest">Room</div></th>
                                    </tr>
                                <tr>
                                        <td class="feesData">
                                            <div data-type="grpA" isOn="0" class="fee che grp submitQuest">Group A</div>
                                            <div data-type="grpB" isOn="0" class="fee che grp submitQuest">Group B</div>
                                        </td>
                                        <td class="feesData">
                                            <div data-type="cat1"  isOn="0" class="fee che cat submitQuest">1</div>
                                            <div data-type="cat2"  isOn="0" class="fee che cat submitQuest">2</div>
                                            <div data-type="cat3"  isOn="0" class="fee che cat submitQuest">3</div>
                                            <div data-type="cat4"  isOn="0" class="fee che cat submitQuest">4</div>
                                            <div data-type="cat5"  isOn="0" class="fee che cat submitQuest">5</div>
                                        </td>
                                        <td class="feesData">
                                            <div data-type="veg" isOn="0" class="fee che mess submitQuest">Veg</div>
                                            <div data-type="nonveg" isOn="0" class="fee che mess submitQuest">Non Veg</div>
                                            <div data-type="special" isOn="0" class="fee che mess submitQuest">Special</div>
                                            <div data-type="foodpark" isOn="0" class="fee che mess Quest">Food Park</div>
                                        </td>
                                        <td class="feesData">
                                            <div data-type="two" isOn="0" class="fee che room submitQuest">2 Bed AC</div>
                                            <div data-type="three" isOn="0" class="fee che room submitQuest">3 Bed AC</div>
                                            <div data-type="four" isOn="0" class="fee che room submitQuest">4 Bed AC</div>
                                            <div data-type="twonac" isOn="0" class="fee che room submitQuest">2 Bed non-AC</div>
                                            <div data-type="threenac" isOn="0" class="fee che room submitQuest">3 Bed non-AC</div>
                                            <div data-type="fournac" isOn="0" class="fee che room submitQuest">4 Bed non-AC</div>
                                        </td>
                                        
                                </tr>
                                <tr>
                                    <td colspan="4" class="feesData">
                                        <center><div id="totalFee" class="sums fee submitQuest">TOTAL</div></center>
                                    </td></tr>
                                </table>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title"><b>Fees calculator (Vellore) </b><i style="color: blue;"class="fa fa-inr" aria-hidden="true"></i><i class="dropDowns fa fa-sort-desc"
                            aria-hidden="true"></i></h5>
                    <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> vHelp </p>
                    <div style="box-shadow: 0 2px 4px solid;"class="image-main card-text"><br><br>
                        <div class="row">
                            <div class="col-md-9">
                                <table class="fees">
                                    <tr><th class="feesData">
                                            <div class="headgrp grp submitQuest">Group<p class="starImp">*</p></div></th>
                                        <th class="feesData">
                                            <div class="headcat cat submitQuest">Category<p class="starImp">*</p></div></th>
                                        <th class="feesData">
                                            <div class="headmess mess submitQuest">Mess</div></th>
                                        <th class="feesData">
                                            <div class="headroom room submitQuest">Room</div></th>
                                    </tr>
                                <tr>
                                        <td class="feesData">
                                            <div data-type="vgrpA" isOn="0" class="fee vel grp submitQuest">Group A</div>
                                            <div data-type="vgrpB" isOn="0" class="fee vel grp submitQuest">Group B</div>
                                        </td>
                                        <td class="feesData">
                                            <div data-type="vcat1"  isOn="0" class="fee vel cat submitQuest">1</div>
                                            <div data-type="vcat2"  isOn="0" class="fee vel cat submitQuest">2</div>
                                            <div data-type="vcat3"  isOn="0" class="fee vel cat submitQuest">3</div>
                                            <div data-type="vcat4"  isOn="0" class="fee vel cat submitQuest">4</div>
                                            <div data-type="vcat5"  isOn="0" class="fee vel cat submitQuest">5</div>
                                        </td>
                                        <td class="feesData">
                                            <div data-type="vveg" isOn="0" class="fee vel mess submitQuest">Veg</div>
                                            <div data-type="vnonveg" isOn="0" class="fee vel mess submitQuest">Non Veg</div>
                                            <div data-type="vspecial" isOn="0" class="fee vel mess submitQuest">Special</div>
                                        </td>
                                        <td class="feesData">
                                            <div data-type="vone" isOn="0" class="fee vel room submitQuest">1 Bed AC</div>
                                            <div data-type="vtwo" isOn="0" class="fee vel room submitQuest">2 Bed AC</div>
                                            <div data-type="vthree" isOn="0" class="fee vel room submitQuest">3 Bed AC</div>
                                            <div data-type="vfour" isOn="0" class="fee vel room submitQuest">4 Bed AC</div>
                                            <div data-type="vsix" isOn="0" class="fee vel room submitQuest">6 Bed AC</div>
                                    
                                            <div data-type="vonenac" isOn="0" class="fee vel room submitQuest">1 Bed non-AC</div>
                                            <div data-type="vtwonac" isOn="0" class="fee vel room submitQuest">2 Bed non-AC</div>
                                            <div data-type="vthreenac" isOn="0" class="fee vel room submitQuest">3 Bed non-AC</div>
                                            <div data-type="vfournac" isOn="0" class="fee vel room submitQuest">4 Bed non-AC</div>
                                            <div data-type="vsixnac" isOn="0" class="fee vel room submitQuest">6 Bed non-AC</div>
                                            
                                        </td>
                                        
                                </tr>
                                <tr>
                                    <td colspan="4" class="feesData">
                                        <center><div id="vtotalFee" class="sums vel fee submitQuest">TOTAL</div></center>
                                    </td></tr>
                                </table>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title"><b>Fees calculator (Bhopal) </b><i style="color: blue;"class="fa fa-inr" aria-hidden="true"></i><i class="dropDowns fa fa-sort-desc"
                            aria-hidden="true"></i></h5>
                    <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> vHelp </p>
                    <div style="box-shadow: 0 2px 4px solid;"class="image-main card-text"><br><br>
                        <div class="row">
                            <div class="col-md-9">
                                <table class="fees">
                                    <tr><th class="feesData">
                                            <div class="headgrp grp submitQuest">Group<p class="starImp">*</p></div></th>
                                        <th class="feesData">
                                            <div class="headcat cat submitQuest">Category<p class="starImp">*</p></div></th>
                                        <th class="feesData">
                                            <div class="headmess mess submitQuest">Mess</div></th>
                                        <th class="feesData">
                                            <div class="headroom room submitQuest">Room</div></th>
                                    </tr>
                                <tr>
                                        <td class="feesData">
                                            <div data-type="bgrpA" isOn="0" class="fee bho grp submitQuest">Group A</div>
                                            <div data-type="bgrpB" isOn="0" class="fee bho grp submitQuest">Group B</div>
                                        </td>
                                        <td class="feesData">
                                            <div data-type="bcat1"  isOn="0" class="fee bho cat submitQuest">1</div>
                                            <div data-type="bcat2"  isOn="0" class="fee bho cat submitQuest">2</div>
                                            <div data-type="bcat3"  isOn="0" class="fee bho cat submitQuest">3</div>
                                            <div data-type="bcat4"  isOn="0" class="fee bho cat submitQuest">4</div>
                                            <div data-type="bcat5"  isOn="0" class="fee bho cat submitQuest">5</div>
                                        </td>
                                        <td class="feesData">
                                            <div data-type="bveg" isOn="0" class="fee bho mess submitQuest">Veg</div>
                                            <div data-type="bnonveg" isOn="0" class="fee bho mess submitQuest">Non Veg</div>
                                            <div data-type="bspecial" isOn="0" class="fee bho mess submitQuest">Special</div>
                                        </td>
                                        <td class="feesData">
                                            <div data-type="btwo" isOn="0" class="fee bho room submitQuest">2 Bed AC</div>
                                            <div data-type="bthree" isOn="0" class="fee bho room submitQuest">3 Bed AC</div>
                                            <div data-type="bfour" isOn="0" class="fee bho room submitQuest">4 Bed AC</div>
                                            <div data-type="bsix" isOn="0" class="fee bho room submitQuest">6 Bed AC</div>
                                            <div data-type="btwonac" isOn="0" class="fee bho room submitQuest">2 Bed non-AC</div>
                                            <div data-type="bthreenac" isOn="0" class="fee bho room submitQuest">3 Bed non-AC</div>
                                            <div data-type="bfournac" isOn="0" class="fee bho room submitQuest">4 Bed non-AC</div>
                                            <div data-type="bsixnac" isOn="0" class="fee bho room submitQuest">6 Bed non-AC</div>
                                        </td>
                                        
                                </tr>
                                <tr>
                                    <td colspan="4" class="feesData">
                                        <center><div id="btotalFee" class="sums fee che submitQuest">TOTAL</div></center>
                                    </td></tr>
                                </table>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title"><b>Fees calculator (Amravati) </b><i style="color: blue;"class="fa fa-inr" aria-hidden="true"></i><i class="dropDowns fa fa-sort-desc"
                            aria-hidden="true"></i></h5>
                    <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> vHelp </p>
                    <div style="box-shadow: 0 2px 4px solid;"class="image-main card-text"><br><br>
                        <div class="row">
                            <div class="col-md-9">
                                <table class="fees">
                                    <tr><th class="feesData">
                                            <div class="headgrp grp submitQuest">Group<p class="starImp">*</p></div></th>
                                        <th class="feesData">
                                            <div class="headcat cat submitQuest">Category<p class="starImp">*</p></div></th>
                                        <th class="feesData">
                                            <div class="headmess mess submitQuest">Mess</div></th>
                                        <th class="feesData">
                                            <div class="headroom room submitQuest">Room</div></th>
                                    </tr>
                                <tr>
                                        <td class="feesData">
                                            <div data-type="agrpA" isOn="0" class="fee amr grp submitQuest">Group A</div>
                                            <div data-type="agrpB" isOn="0" class="fee amr grp submitQuest">Group B</div>
                                        </td>
                                        <td class="feesData">
                                            <div data-type="acat1"  isOn="0" class="fee amr cat submitQuest">1</div>
                                            <div data-type="acat2"  isOn="0" class="fee amr cat submitQuest">2</div>
                                            <div data-type="acat3"  isOn="0" class="fee amr cat submitQuest">3</div>
                                            <div data-type="acat4"  isOn="0" class="fee amr cat submitQuest">4</div>
                                            <div data-type="acat5"  isOn="0" class="fee amr cat submitQuest">5</div>
                                        </td>
                                        <td class="feesData">
                                            <div data-type="aveg" isOn="0" class="fee amr mess submitQuest">Veg</div>
                                            <div data-type="anonveg" isOn="0" class="fee amr mess submitQuest">Non Veg</div>
                                            <div data-type="aspecial" isOn="0" class="fee amr mess submitQuest">Special</div>
                                        </td>
                                        <td class="feesData">
                                            <div data-type="atwo" isOn="0" class="fee amr room submitQuest">2 Bed AC</div>
                                            <div data-type="afour" isOn="0" class="fee amr room submitQuest">4 Bed AC</div>
                                            <div data-type="atwonac" isOn="0" class="fee amr room submitQuest">2 Bed non-AC</div>
                                            <div data-type="afournac" isOn="0" class="fee amr room submitQuest">4 Bed non-AC</div>
                                                <div data-type="a2baptac" isOn="0" class="fee amr room submitQuest">2B AC Apt. </div>
                                                <div data-type="a4baptac" isOn="0" class="fee amr room submitQuest">4B AC Apt.</div>
                                                <div data-type="a2baptnac" isOn="0" class="fee amr room submitQuest">2B non-AC Apt.</div>
                                                <div data-type="a4baptnac" isOn="0" class="fee amr room submitQuest">4B non-AC Apt.</div>
                                                </tr>
                                        
                                </tr>
                                <tr>
                                    <td colspan="4" class="feesData">
                                        <center><div id="atotalFee" class="sums fee che submitQuest">TOTAL</div></center>
                                    </td></tr>
                                </table>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title"><b>Is VIT Vellore main Campus??</b><i class="dropDowns fa fa-sort-desc"
                            aria-hidden="true"></i></h5>
                    <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> Anonymous</p>
                    <p class="card-text">In vit there is nothing like the main campus. VIT is a university. All Campuses
                        are equally good. But Bhopal campus and Amravati campus are relatively new campuses. So if you
                        are looking from the perspective of infrastructure and other extracurricular activities,
                        obviously that you will get in Vellore and Chennai campus better as compared to other two. But
                        in context to academics, all the campuses are equally good. I would say, VIT will never be a bad
                        choice for you. If you are ready to work hard and willing to learn new things, you will
                        definitely come out with flying colors.

                        Cheers!!

                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title"><b>How to get admission in VIT in 2020??
                        </b><i class="dropDowns fa fa-sort-desc" aria-hidden="true"></i></h5>
                    <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> _harshu</p>
                    <p class="card-text">Due to the Pandemic situation, VITEEE will not be conducted. So for this year
                        VIT has announced, admissions for BTech students will be based on marks of class 12 or
                        equivalent and students who gave JEE Mains/ SAT will be considered. As of now VIT has not
                        announced anything clearly. So if you want to get admission in VIT, you have to submit your form
                        and upload your 12th marks sheet.

                        Cheers!!

                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title"><b>Is placements of Chennai Campus Better than Vellore Campus?</b><i
                            class="dropDowns fa fa-sort-desc" aria-hidden="true"></i></h5>
                    <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> Karan Yuvraj Singh</p>
                    <p class="card-text">
                        The placements of both the campuses take place in VIT vellore. Students from chennai Campus are
                        taken to Vellore during placement session.There is no prejudices on the basis of the campus you
                        belong to.
                        But the from statistics, placements of chennai campus are better which is merely because of less
                        population in chennai campus.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title"><b>Do i need to know Tamil before joining VIT campuses?</b><i
                            class="dropDowns fa fa-sort-desc" aria-hidden="true"></i></h5>
                    <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> Karan Yuvraj Singh</p>
                    <p class="card-text">No, nearly everyone knows Hindi and English in the campus. VIT as a whole is a
                        diverse campus, you will find people from everyone corner of the country(and Some international
                        students too!).
                        Some people may prefer tamil(from hostel staffs etc.) but they do understand english. Language
                        is not an issue(as most people think) in VIT.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title"><b>How is ECM branch at VIT chennai?</b><i class="dropDowns fa fa-sort-desc"
                            aria-hidden="true"></i></h5>
                    <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> Karan Yuvraj Singh</p>
                    <p class="card-text">Refer to this excellent answer by Dwij Sheth <a alt="link-to-vit-freshers-blog"
                            style="color:blue;"
                            href="https://vitfresher.blogspot.com/2020/06/how-is-electronics-and-computer.html">How is electronics and computer?</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title"><b>Can i have some samples of Mess Menu served at VIT?</b><i
                            class="dropDowns fa fa-sort-desc" aria-hidden="true"></i></h5>
                    <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> Karan Yuvraj Singh</p>
                    <p class="card-text">Refer to this blog post <a alt="link-to-vit-frehsers-questions"
                            style="color:blue;"
                            href="https://vitfresher.blogspot.com/2020/07/vit-mess-menu-samples.html">Mess Menu Samples</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title"><b>How are the fests at VIT? </b><i class="dropDowns fa fa-sort-desc"
                            aria-hidden="true"></i></h5>
                    <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> Pratyush Motha</p>
                    <p class="card-text">In chennai campus there are two major fests one is Technovit ,the technical
                        fest
                        and Vibrance ,the cultural fest both fests are 3-4 days long.
                        Vibrance has more hype ,the atmosphere in college becomes full of joy and enthusiasmic,
                        everybody making their memories ,enjoying the presence of celebrities especially freshies for
                        them
                        it becomes a lifetime experience.
                        On the other hand Technovit comes before Vibrance and has a techy vibes
                        there are competitions, activities regarding various technical topics,So if you are a
                        tech-person then you'll definitely gonna enjoy it as well.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title"><b>Can i have some images from Vibrance? </b><i style="color: green;"
                            class="fa fa-picture-o" aria-hidden="true"></i><i class="dropDowns fa fa-sort-desc"
                            aria-hidden="true"></i></h5>
                    <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> Karan Yuvraj Singh</p>
                    <p class="card-text">
                        <img style="height: 100px;" class="images-main" src="fest1.jpg">
                        <img style="height: 100px;" class="images-main" src="fest2.jpg">
                        <img style="height: 100px;" class="images-main" src="fest3.jpg"><br>
                        <img style="height: 100px;" class="images-main" src="fest4.jpg">
                        <img style="height: 100px;" class="images-main" src="fest5.jpg">
                        <img style="height: 100px;" class="images-main" src="fest6.jpg">
                        <img style="height: 100px;" class="images-main" src="fest7.png"><br>
                        <img style="height: 100px;" class="images-main" src="fest8.png">
                        <img style="height: 100px;" class="images-main" src="img (1).jpg">
                        <img style="height: 100px;" class="images-main" src="fest9.jpg">
                        <img style="height: 100px;" class="images-main" src="fest10.jpg"><br>
                        <img style="height: 100px;" class="images-main" src="fest11.jpg">
                        <img style="height: 100px;" class="images-main" src="fest12.png">
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title"><b>Can i have some images of Vit chennai? </b><i style="color: green;"
                            class="fa fa-picture-o" aria-hidden="true"></i><i class="dropDowns fa fa-sort-desc"
                            aria-hidden="true"></i></h5>
                    <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> Karan Yuvraj Singh</p>
                    <p class="card-text">
                        <img style="height: 100px;" class="images-main" src="img.jpg">
                        <img style="height: 100px;" class="images-main" src="img (2).jpg">
                        <img style="height: 100px;" class="images-main" src="img (3).jpg">
                        <img style="height: 100px;" class="images-main" src="img (4).jpg">
                        <img style="height: 100px;" class="images-main" src="img (5).jpg"><br>
                        <img style="height: 100px;" class="images-main" src="img (6).jpg">
                        <img style="height: 100px;" class="images-main" src="img (8).jpg">
                        <img style="height: 100px;" class="images-main" src="img (9).jpg">
                        <img style="height: 100px;" class="images-main" src="img (12).jpg">
                        <img style="height: 100px;" class="images-main" src="download (1).png">
                        <img style="height: 100px;" class="images-main" src="download (2).png">
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title"><b>Laptop Related FAQs</b><i class="dropDowns fa fa-sort-desc"
                            aria-hidden="true"></i></h5>
                    <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> Karan Yuvraj Singh</p>
                    <p class="card-text">
                        <br>
                        <b>When will I need the laptops?</b>
                        <br>
                        You will need a laptop in VIT from the first day itself.
                        <br>
                        <b>
                            Can I do away without laptops for a few days? 1 day at least, Please?
                        </b>
                        <br>
                        Okay. But get a laptop within 2-3 weeks.
                        <br>
                        <b>
                            I am a day scholar and have a desktop at home. So do I still need a laptop?
                        </b>
                        <br>
                        Still get a laptop. You will need a laptop for your labs, project reviews and to do your tasks
                        in free time during college hours.
                        <br>
                        <b>
                            What are the required specification for the laptop ?
                        </b>
                        <br>
                        See the Laptop Recommendation post on this blog.
                        <br>
                        <b>
                            Do I need a scientific calculator?
                        </b>
                        <br>
                        You must have a scientific calculator
                        <br>
                        <b>
                            Can you recommend some calculator models?
                        </b>
                        <br>
                        See the Calculator Recommendation post.
                        <b>
                            <a alt="link-to-vit-freshers"
                                href="https://vitfresher.blogspot.com/2020/07/recommendation-for-calculators.html"
                                target="_blank">Blog Link </a>
                        </b>

                    </p>
                </div>
            </div>
        </div>
        
    </div>
</div>
</div>
<%- include('footer') %>
