<%- include('header') %>
<style>
    #customHead {
        background-color: rgba(128, 80, 250, 0.8);
        box-shadow: 0 2px 4px 0 black;
    }
</style>
<script>
     window.setInterval(function(){
        if(dark == 0){
        $('#customHead').css("background-color","rgba(128, 80, 250, 0.8)");
        $('#customHead').css("box-shadow","0 2px 4px 0 black");
    }
        else if(dark == 1){
        $('#customHead').css("background-color","rgb(25, 24, 32)");
        }
    },10);
</script>
<div class="container">
    <div class="questContainer row">
        <div class="col-sm-12">
            <div class="card-body">
                <h5 class="card-title"><b>Tentative Branch-Rank List </b><i style="color: green;"class="fa fa-table" aria-hidden="true"></i><i class="dropDowns fa fa-bars"
                        aria-hidden="true"></i></h5>
                <p style="margin-top:0px; margin-bottom: 0px;"><b>Posted by:</b> Pratyush Motha</p>
                <div class="card-text">
                    <table class="tables">
                        <tr><th>Rank Range</th><th>Campus</th><th>Branch</th><th>Category</th></tr>
                        <tr><td>3k-4k</td><td>Vellore</td><td>Nearly All branches</td><td>Cat 1</td></tr>
                        <tr><td>8k-10k</td><td>Chennai</td><td>Nearly All branches</td><td>Cat 1</td></tr>
                        <tr><td>10k-20k</td><td>Chennai</td><td>ECE/ECM</td><td>Cat 1(High chances)</td></tr>
                        <tr><td>10k-20k</td><td>Chennai</td><td>Nearly All branches except CSE core</td><td>Cat 2(High chances)</td></tr>
                        <tr><td>10k-20k</td><td>Chennai</td><td>all branches except CSE core and some specializations</td><td>Cat 1(High chances)</td></tr>
                        <tr><td>20k-25k</td><td>Chennai</td><td>CSE specializations</td><td>Cat 3,4,5(High Chances)</td></tr>
                        <tr><td>20k-25k</td><td>Chennai</td><td>ECE/ECM</td><td>Cat 1 (low chances), Cat 2,3(High Chances)</td></tr>
                        <tr><td>20k-25k</td><td>Chennai</td><td>CSE specializations</td><td>Cat 3 (low chances), Cat 4,5(High Chances)</td></tr>
                        <tr><td>25k-35k</td><td>Vellore</td><td>Mech/EEE</td><td>Cat 1</td></tr>
                        <tr><td>35k-45k</td><td>Chennai</td><td>Mech/EEE</td><td>Cat 1</td></tr>
                    </table><br><br>
                    <h6 style="color: grey;">This list is completely based on previous year and not official data from VIT</h6>
                </div>
            </div>
        </div>
    </div>
    </div>

<%- include('footer') %>
