.card-body:hover {
    box-shadow: 0px 2px 4px 0px green;
    cursor: pointer;
<<<<<<< Updated upstream
}
.list-group-item:hover {
    box-shadow: 0px 0px 4px 0px green;
    cursor: pointer;
    /* transform: scale(0.98); */
}
.list-group-item{
    margin-bottom: 2px;
}
.Rate:hover {
    box-shadow: 0px 0px 4px 0px green;
}
.questionSection:hover{
    box-shadow: 0px 2px 4px 0px green;
}
nav{
    position: fixed;
}
=======
    transform: scale(1.01);
  }
  
  .list-group-item:hover {
    box-shadow: 0px 2px 4px 0px red;
    cursor: pointer;
    color: rgba(133,87,236,0.79);
    transform: scale(1.01);
  }
  
  .list-group-item {
    margin-bottom: 2px;
  }
  
  .Rate:hover {
    box-shadow: 0px 0px 4px 0px red;
  }
  
  .questionSection:hover {
    transform: scale(1.01);
    box-shadow: 0px 2px 4px 0px red;
    color: rgba(133,87,236,0.79);
  }
  
  .questionSection {
    box-shadow: 0px 1px 4px 0px black;
  }
  
  .list-group {
    box-shadow: 0px 1px 4px 0px black;
    cursor: pointer;
  }
  
  .links {
    color: red;
    font-size: 20px;
  }
  
  .card-body {
    box-shadow: 0px 1px 4px 0px black;
    cursor: pointer;
  }
  
  .navbar.navbar-expand-lg.navbar-light {
    background-color: rgba(133,87,236,0.85);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
  }
>>>>>>> Stashed changes
