.card-body:hover {
    box-shadow: 0px 2px 4px 0px red;
    cursor: pointer;
    transform: scale(1.01);
}
.list-group-item:hover {
    box-shadow: 0px 2px 4px 0px red;
    cursor: pointer;
    /* transform: scale(0.98); */
    transform: scale(1.01);
}
.list-group-item{
    margin-bottom: 2px;
}
.Rate:hover {
    box-shadow: 0px 0px 4px 0px red;
}
.questionSection:hover{
    transform: scale(1.01);
    box-shadow: 0px 2px 4px 0px red;
}
.questionSection{
    box-shadow: 0px 1px 4px 0px black;
}
nav{
    position: fixed;
}
.list-group {
    box-shadow: 0px 1px 4px 0px black;
    /* border: 2px solid red; */
    cursor: pointer;
    /* transform: scale(0.98); */
}
.links{
    color: red;
    font-size: 20px;
}
.card-body {
    /* border: 1px solid blue; */
    box-shadow: 0px 1px 4px 0px black;
    cursor: pointer;
}